# Task1: lists

In [ ]:
!pip install numpy

Requirement already satisfied: numpy in /usr/local/lib/python3.12/dist-packages (2.0.2)

In [ ]:
#creating a list of 10 integers
numbers = [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
print('original List', numbers)

#sum
print('sum', sum(numbers))

#maximum
print('maximum', max(numbers))

#minimum
print('minimum ', min(numbers))


#adding new element to the list
numbers.append(22)

#removing element from the list
numbers.remove(20)

#print new list
print('updated list ', numbers)

original List [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
sum 110
maximum 20
minimum  2
updated lis  [2, 4, 6, 8, 10, 12, 14, 16, 18, 22]

# Task3: sets

In [9]:
#two set with unique elements

set_a = {1,2,3,4,5}
set_b = {4,5,6,7,8}

# uniion and intersection

print('union', set_a | set_b)
print('Intersection', set_a & set_b)
print('Differnce', set_a - set_b)

union {1, 2, 3, 4, 5, 6, 7, 8}
Intersection {4, 5}
Differnce {1, 2, 3}

# Task4: dictonaries

In [7]:
# creta 5 unique Keys
students = {'Ali': 85,'Salman':90,'Rehman':30,'Yawar':40}

print('Keys', students.keys())
print('Values', students.values())

Keys dict_keys(['Ali', 'Salman', 'Rehman', 'Yawar'])
Values dict_values([85, 90, 30, 40])

# Task5: numpy

# Task06: matplotlib

# Task02: tuples

In [8]:
# Create a tuple of 5 Strings
fruits = ('apple','Banana','cherry','mango','grape')
print('Second element', fruits[1])
print('Last one', fruits[-1])

# convert tuple into list
fruits_list = list(fruits)
fruits_list[2] = 'orange'
print('Modified', fruits_list)

Second element Banana
Last one grape
Modified ['apple', 'Banana', 'orange', 'mango', 'grape']